#rodape {
  .institucional {
    * {
      color: #9b3086;
    }
  }
  .titulo {
    color: #000;
  }

  .redes-sociais {
    li {
      border: none;
      padding: 0 0.25rem;
      a {
        i {
          border-radius: 50%;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  // Change background
  .institucional,
  .redes-sociais,
  .pagamento-selos {
    background: none;
    box-shadow: none;
  }
  .institucional {
    background-color: #fcfcfc;
  }

  .pagamento-selos {
    background-color: #f2f2f2;
  }
}
